[submodule "libs/board"]
	path = libs/board
	url = https://github.com/alifsemi/alif_boardlib.git
[submodule "libs/common_app_utils"]
	path = libs/common_app_utils
	url = https://github.com/BogdanKokotenko-AlifSemi/alif_common-app-utils
